R1 /work/magroup/shared/4DN_project/ad/data/GAGE-seq_09_2024/AN00021145/hPFC-scRNA-lib-9/hPFC-scRNA-lib-9_1.fastq.gz
R2 /work/magroup/shared/4DN_project/ad/data/GAGE-seq_09_2024/AN00021145/hPFC-scRNA-lib-9/hPFC-scRNA-lib-9_2.fastq.gz
out_prefix hPFC-scRNA_24_09_A_lib-9
library_id lib-9
result_folder /work/magroup/shared/4DN_project/ad/pipeline_RNA/pipeline_results
thread 30
STAR_genome /work/magroup/shared/4DN_project/ad/pipeline_RNA/genome/STAR_anno