R1 /work/magroup/shared/4DN_project/ad/data/GAGE-seq_08_2024/hPFC-scRNA-lib-3/hPFC-scRNA-lib-3_1.fastq.gz
R2 /work/magroup/shared/4DN_project/ad/data/GAGE-seq_08_2024/hPFC-scRNA-lib-3/hPFC-scRNA-lib-3_2.fastq.gz
out_prefix hPFC-scRNA_24_08_lib-3
library_id lib-3
result_folder /work/magroup/shared/4DN_project/ad/pipeline_RNA/pipeline_results
thread 30
STAR_genome /work/magroup/shared/4DN_project/ad/pipeline_RNA/genome/STAR_anno