R1 /ocean/projects/bio240015p/shared/AD_project/data/GAGE-seq_12_2024/AN00022632/ZD_1224_a_10/ZD_1224_a_10_1.fastq.gz
R2 /ocean/projects/bio240015p/shared/AD_project/data/GAGE-seq_12_2024/AN00022632/ZD_1224_a_10/ZD_1224_a_10_2.fastq.gz
out_prefix hPFC-scRNA_24_12_lib-17
library_id lib-17
result_folder /ocean/projects/bio240015p/shared/AD_project/pipeline_RNA/pipeline_results
thread 30
STAR_genome /ocean/projects/bio240015p/shared/AD_project/pipeline_RNA/genome/STAR_anno