R1 /ocean/projects/bio240015p/shared/AD_project/data/GAGE-seq_11_2024/AN00022070/hPFC-scRNAlib-25/hPFC-scRNAlib-25_1.fastq.gz
R2 /ocean/projects/bio240015p/shared/AD_project/data/GAGE-seq_11_2024/AN00022070/hPFC-scRNAlib-25/hPFC-scRNAlib-25_2.fastq.gz
out_prefix hPFC-scRNA_24_11_lib-25
library_id lib-25
result_folder /ocean/projects/bio240015p/shared/AD_project/pipeline_RNA/pipeline_results
thread 30
STAR_genome /ocean/projects/bio240015p/shared/AD_project/pipeline_RNA/genome/STAR_anno