R1 /ocean/projects/bio240015p/shared/AD_project/data/GAGE-seq_12_2024/AN00022632_3/ZD_1224_d_7/ZD_1224_d_7_1.fastq.gz
R2 /ocean/projects/bio240015p/shared/AD_project/data/GAGE-seq_12_2024/AN00022632_3/ZD_1224_d_7/ZD_1224_d_7_2.fastq.gz
out_prefix hPFC-scRNA_24_12_lib-34
library_id lib-34
result_folder /ocean/projects/bio240015p/shared/AD_project/pipeline_RNA/pipeline_results
thread 30
STAR_genome /ocean/projects/bio240015p/shared/AD_project/pipeline_RNA/genome/STAR_anno